/* 
=============================================================
Made by Ganesh Prasannan for HyperText competition by Project Beta 6.0

Author: Ganesh Prasannan
School: Ryan International School Mayur Vihar
Mail: ganeshprasannan2008@gmail.com
My Github: https://github.com/GaneshPrasannan/
=============================================================
*/


/* Font Imports */
@import url('https://fonts.googleapis.comcss2?family=Bree+Serif&family=Montserrat:wght@500&family=Tiro+Gurmukhi&display=swap');
@import url('https://fonts.googleapis.comcss2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: url("/img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Outer Container */
.outer_container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
}

/* Inner Container */
.container{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 90vw;
    height: 88vh;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(20px);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: scroll;
}
.container::-webkit-scrollbar { 
    width: 5px; 
    height: 100%;
}
.container::-webkit-scrollbar-thumb { 
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.418);
    opacity: 0.5;
}
.container::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, 0.600);
}

/* NAVBAR */
nav{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: white;

}
.nav_left{
    display: flex;
    width: 38vw;
}
.nav_left .logo img{
    width: 4rem;
}

.nav_right{
    margin-top: 1rem;
    text-decoration: none;
}

.nav_right .nav_list{
    list-style: none;
    display: flex;
}
.nav_right .nav_list a{
    color: white;
    text-decoration: none;
    margin-left: 2.5rem;
}
.nav_right .nav_list a {
    overflow: hidden;
    position: relative;
    display: inline-block;
}
  
.nav_right .nav_list a::before,
.nav_right .nav_list a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}
.nav_right .nav_list a::before {
    background-color: #54b3d6;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.nav_right .nav_list a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #54b3d6;
}
  
.nav_right .nav_list a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}
.nav_right .nav_list a:hover::after {
    transform: translate3d(0, 0, 0);
}
  
.nav_right .nav_list a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.nav_right .nav_list a:hover span {
    transform: translate3d(-200%, 0, 0);
}

/* HERO Section */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 2.5rem;
}
.hero .heading{
    /* border: 1px solid red; */
    font-family: 'Tiro Gurmukhi', serif;
    color: white;
    font-size: 2.3rem;
    font-weight: 400;
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-bottom:6rem;
    padding-left: 1.5rem;
}
.hero .illustration{
    display: flex;
    justify-content: center;
    width: 50vw;
}
.hero .logo{
    border: 1px solid green;
}
.hero .illustration img{
    width: 28rem;
    padding-bottom: 2rem;
}
.hero .heading .caption p{
    font-size: 0.7rem;
}

@media (max-width: 1028px) {
    .hero{
      flex-direction: column;
      padding-top: 5rem;
    }
    .heading{
      width: auto!important;
    }
    .hero .illustration img{
      width: 21rem;
      margin-top: -5rem;
    }
}

#cbse_toppers_list, #about, #admission{
  background-color: #89cee530;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Tiro Gurmukhi', serif;
  font-size: 1.5rem;
}
#section_vala_hr, #about_vala_hr, #admission_vala_hr{
  width: 5rem;
  height: 1px;
  margin-top: 1rem;
  transition: ease 0.7s;
}
#cbse_toppers_list:hover hr, #about:hover hr, #admission:hover hr{
  border-radius: 10px;
  width: 10rem;
  border: 1px solid rgb(101, 194, 224);
  box-shadow: rgb(101, 194, 224) 0px 0px 5px 1px;
}